<div class="border border-2 rounded-2 m-3">
        @{
            if(WordString.Length == 0)
            {
                WordLength = 0;
            }

            if(WordString.Length > 0 )
            {
                WordLength = 0;

                for(int i = WordString.Length-1; i >= 0; i--)
                {
                    WordLength = WordLength + 1;

                    if (WordString[i - 1] == null || WordString[i - 1].ToString() == (" "))
                    {
                        break;
                    }
                }
            }
        }

        <div class="m-3">
            <h3> The Length of the Last Word is @WordLength</h3>
        </div>
</div>


@code {

    [Parameter]
    public string WordString { get; set; }

    [Parameter]
    public int WordLength { get; set; }
}
