@page "/lastwordlength"

<PageTitle>Last Word Length</PageTitle>


<h3>Input a Sentence Below</h3>

<input type="text" class="form-control" @bind-value="WordString" />

<div class="border-primary border-2 bg bg-dark mt-3 p-2">
    <div class="border-primary border-2 bg-dark">
        <LastWordLengthComponent WordString="@WordString" WordLength="@WordLength"/>
    </div>
</div>

@code {

    public string WordString = "";

    public int WordLength = 0;

}
