<div class="border border-2 rounded-2 m-3">
    @{
        WordLength = 0;

        if(WordString.Length > 0 )
        {
            int i = WordString.Length - 1; 

            while(i >= 0 && WordString[i] == ' ')
            {
                i--;
            }

            while(i >= 0 && WordString[i] != ' ')
            {
                WordLength++;
                i--;
            }

        }
    }

        <div class="m-3">
            <h3> The Length of the Last Word is @WordLength</h3>
        </div>
</div>


@code {

    [Parameter]
    public string WordString { get; set; }

    [Parameter]
    public int WordLength { get; set; }
}
