@page "/lastwordlength"

<PageTitle>Last Word Length</PageTitle>


<h3>Let's Find the Length of the Last Word</h3>

<input type="text" class="form-control" @bind-value="WordString" />

<div class="bg-light">
    <LastWordLengthComponent WordString="@WordString" WordLength="@WordLength"/>
</div>

@code {

    public string WordString = "";

    public int WordLength = 0;

}
