@page "/fizzbuzz"

<PageTitle> FizzBuzz </PageTitle>
<h3>Welcome to FizzBuzz Land!</h3>

<div class="row row-cols-1 row-cols-md-3">
    <div class="col">
        <div class="form-label">Fizz Value:</div>
        <input class="form-control" @bind-value="FizzValue" type="number" />
    </div>
    <div class="col">
        <div class="form-label">Buzz Value:</div>
        <input class="form-control" @bind-value="BuzzValue" type="number" />
    </div>
    <div class="col">
        <div class="form-label">Count:</div>
        <input class="form-control" @bind-value="CountValue" type="number" />
    </div>
</div>

<div class="row mt-5 border-top border-dark border-2 rounded">
    <div class="col mt-4">
        <FizzBuzzComponent />
    </div>
</div>

@code {
    private int FizzValue = 3;
    private int BuzzValue = 5;
    private int CountValue = 20;
}
