@page "/linkedlist"

<PageTitle>Linked List Generator</PageTitle>
<h3>Let's Generate Some Links</h3>

<div class="row row-cols-1 row-cols-md-3">
    <div class="col">
        <div class="form-label">Number of Links</div>
        <input class="form-control" type="number" />
    </div>

</div>

<div class="row mt-5 border-top border-dark border-2 rounded">
    <div class="col mt-4">
        <LinkedListComponent/>
    </div>
</div>

@code {


}
