
<div class="row row-cols-1 row-cols-md-5">



    <div>Number of Permutations = @WordsInString(WordString)</div>

    <h1></h1>

</div>

@code {
    [Parameter]
    public string WordString { get; set; } = "abcde";

    public int WordsInString(string WordString)
    {
        // set initial Variable to 1
        int result = 1;

        if(WordString.Length == 0)
        {
            result = 0;
        }

        if(WordString.Length > 0)
        {
            for(int i = 1; i <= WordString.Length; i++)
            {
                result = result * i;
            }
        }

        return result;
    }

}
